* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    display: flex;
    background: url('../img/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/*HEADER-----------------------------------------------------------------------------------------*/

.header-general {
    position: fixed;
    border-right: solid;
    width: 24%;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0px 15px;
}

nav ul li {
    list-style: none;
    padding: 15px 0px;
    border-bottom: 2px solid rgb(69, 11, 122);
}

.lista-indice {
    margin: 0% 0%;
    padding: 0px;
    font-size: 20px;
    margin-top: 16%;
    height: 92%;
    overflow-y: auto;
    background-color: rgb(161, 96, 223, 0.5);
}

.indice {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    position: fixed;
    width: 22.2%;
    color: #ffffff;
}

img {
    position: relative;
    bottom: 3vw;
    left: 15%;
    width: 50%;
    justify-content: center;
}

/*HEADER-----------------------------------------------------------------------------------------*/
/*MAIN-------------------------------------------------------------------------------------------*/

main {
    margin-left: 24%;
    padding: 3% 5%;
}

.titulos {
    font-size: 25px;
    padding: 20px 0px;
}

.orden-personajes {
    padding: 10px 30px;
}

.orden-personajes li h3 {
    padding: 15px 0px;
}

#main-doc {
    background: rgb(191, 145, 233, 0.5);
}

/*MAIN-------------------------------------------------------------------------------------------*/

@media (max-width:800px) {
    body {
        background-size: cover;
    }
    .lista-indice {
        height: 100%;
        margin-top: 40%;
        font-size: 15px;
    }
}
@media (min-width:800px) {
    body {
        background-size: cover;
    }
}
@media (max-width:380px) {
    .lista-indice {
        width: 100%;
        height: 96%;
        margin-top: 40%;
    }
}